################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SessionTimeOut/v15/Server/sqlite3
/.vs/SessionTimeOut/v15/.suo
/.vs/SessionTimeOut/v15
/packages
