
@{
    ViewBag.Title = "Index";
}

<h2>Status: </h2>
<h2 id="status-session-time">Off</h2>

Archivos:

<ul>
    <li>/Scripts/session.time.js</li>
    <li>/Views/Shared/_Layout.cshtml</li>
    <li>/Views/Shared/_Layout_Login.cshtml</li>
</ul>
